In [85]:
import pandas as pd

train_df = pd.read_csv("./data/train.csv")
test_df = pd.read_csv("data/test.csv")

In [86]:
train_df.shape
test_df.shape

(399335, 35)

In [87]:
train_df.head()

,id,target,A_1,A_2,B_1,B_2,B_3,B_4,B_5,B_6,...,C_8,C_9,C_10,C_11,C_12,C_13,C_14,C_15,C_16,C_17
0,1,0,0.415975,0.645902,NaN,NaN,0.000000,1,NaN,NaN,...,0.382046,0.696175,0.767471,0.696545,0.614287,0.730837,2.691057,0.704224,0.718959,0.598945
1,3,0,0.176933,0.273043,NaN,NaN,0.832555,4,NaN,NaN,...,0.511168,0.700571,0.761404,0.408709,0.492776,0.353532,2.649494,0.470418,0.462246,0.852692
2,5,0,0.415975,0.645902,0.0,NaN,0.832555,1,NaN,NaN,...,0.382046,0.696175,0.767471,0.696545,0.614287,0.730837,2.691057,0.704224,0.718959,0.598945
3,8,0,0.228507,0.494354,0.0,NaN,0.832555,1,NaN,NaN,...,0.375216,0.658284,0.763675,0.137970,0.415798,0.108351,2.735160,0.135932,0.163578,0.633383
4,10,0,0.969242,1.586129,0.0,100.0,1.962179,4,NaN,NaN,...,0.299668,0.545841,0.745958,0.182857,0.587873,0.179680,2.732360,0.158576,0.190031,0.729904

In [106]:
train_df['target'].value_counts()
ratio = 398620/2045
print(ratio)

194.9242053789731

In [88]:
train_df.dtypes

id          int64
target      int64
A_1       float64
A_2       float64
B_1       float64
B_2       float64
B_3       float64
B_4         int64
B_5        object
B_6        object
B_7       float64
B_8       float64
B_9         int64
B_10      float64
B_11        int64
B_12        int64
B_13        int64
B_14       object
B_15       object
C_1       float64
C_2       float64
C_3       float64
C_4       float64
C_5       float64
C_6       float64
C_7       float64
C_8       float64
C_9       float64
C_10      float64
C_11      float64
C_12      float64
C_13      float64
C_14      float64
C_15      float64
C_16      float64
C_17      float64
dtype: object

In [89]:
print(train_df.B_5.unique())
print(train_df.B_6.unique())
print(train_df.B_14.unique())
print(train_df.B_15.unique())

[nan 'B' 'C' 'D' 'A' 'F' 'E']
[nan 'B' 'A' 'C']
['A' nan 'B']
[nan 'Q' 'b' 'j' 'D' 'C' 'c' 'f' 'T' 'N' 'F' 'Y' 'J' 'g' 'A' 'U' 'S' 'l'
 'm' 'n' 'K' 'O' 'I' 'X' 'B' 'H' 'a' 'p' 'R' 'L' 'V' 'd' 'E' 'P' 'G' 'e'
 'W' 'M' 'i' 'o' 'h' 'k']

In [ ]:

# First XGBoost model for Pima Indians dataset
from numpy import loadtxt
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, log_loss
# load data
dataset = train_df

# split data into X and y
X = dataset.drop(['id','target','B_5', 'B_6', 'B_14', 'B_15'], axis=1)
Y = dataset['target']
# split data into train and test sets
seed = 7
test_size = 0.33
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=test_size, random_state=seed)
# fit model no training data
model = XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=6, min_child_weight=1, missing=None, n_estimators=1000,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=194, seed=None,
       silent=False, subsample=1)
model.fit(X_train, y_train)

In [115]:
# make predictions for test data
y_pred = model.predict(X_test)
# evaluate predictions
predictions = [round(value) for value in y_pred]
accuracy = accuracy_score(y_test, predictions)
#log_loss_val= log_loss(y_test, y_pred)
print(accuracy)

0.5761306912721222

/home/chandanmaruthi/workspace/kaggle/kaggle/env/lib/python3.5/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [100]:
X_test_validation = test_df.drop(['id','B_5', 'B_6', 'B_14', 'B_15'], axis=1)
y_test_pred =  pd.DataFrame(model.predict(X_test_validation))
#print(y_test_pred)
submission= pd.DataFrame({'id':test_df['id'], 'target':y_test_pred[0]})
submission.to_csv("results/submission.csv", index=False)

/home/chandanmaruthi/workspace/kaggle/kaggle/env/lib/python3.5/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff: